<!DOCTYPE html>
<html lang="fi">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Otsikko tähän</title>

    <meta name="description" content="saitin kuvaus"/>
    <meta name="author" content="oma nimi"/>

    <!-- Open graph protocol 

    <meta property="og:title" content="saitin kuvaus"/>
    <meta property="og:type" content="web-sivu"/>
    <meta property="og:url" content="https://munsivut.fi"/>
    <meta property="og:description" content="saitin kuvaus"/>
    <meta property="og:image" content="image.png"/>

    -->

    <!-- 
    <link rel="icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.svg" type="img/svg+xml"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>

    -->

    <!-- CSS Fiilun osoite tähän -->

    <link rel="stylesheet" href="css/styles.css"/>

</head>

<body>

    <header>

        <!-- Veppisivun nimi ja logo tähän -->
        <p>Header</p>

    </header>

    <nav>
        <!-- Veppisivun navigointi tähän -->
    </nav>

    <main>

        <!-- Saitin pääasiallinen sisältö tähän -->
        <h1>Heading</h1>

    </main>

        <footer>

            <!-- Lisää copyright tiedot ja muu footer sisältö tähän -->
            <p>Footer</p>

        </footer>

        <!-- JavaScript tiedostot tähän -->
        <script src="javascript/script.js"></script>

</body>

</html>